body{
font-family: 'Baskervville', serif;
font-family: 'Roboto', sans-serif;
background-color: rgb(46, 46, 46);
color: azure;
}

.container{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    text-align: center;
    width: 70%;
}

.center{
    margin-left: 80px; 
    color: snow;   
    font-size: 5rem;
    font-family: 'Baskervville', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
}

.banner
{
    margin-left: 80px; 
    width: 100%;
    border-radius: 4rem;
}

.category
{
    font-size: larger;
}

.collapsible {
    color: azure;
    background: rgb(46, 46, 46);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
}


.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '>'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: white;
    float: left;
    margin-left: 5px;
}
  
.active:after {
    content: "ʌ"; /* Unicode character for "minus" sign (-) */
}

.chapters{
    padding-top: 2rem ;
}

.theme{
    display: block;
    font-family: 'Baskervville', serif;
    font-size: 3rem; 
    box-sizing: border-box;
    border-bottom: 4px solid aquamarine;
    margin: 3px;
}

.subtheme{
    font-size: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid aquamarine;
    padding-top: 10px;
    margin: 3px;
}

.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: aquamarine;
    display: block;
}
  
.sidenav a:hover {
    color: cornsilk;
    cursor: pointer;
}
  
.main {
    margin-left: 150px; 
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}